/* common CSS */

.w-100 {
    width: 100% !important;
}
.float-right {
    float: right !important;
}
.float-left {
    float: left !important;
}

table tbody tr th {
    text-align: center !important;
}
.mr-10px {
    margin-right: 10px;
}

/*------------------*/

/* Form CSSS */
form .btn-section .btn {
    float: right;
}